fastapi==0.116.1
uvicorn==0.35.0

langgraph==0.6.6
langchain==0.3.27
langchain-community==0.3.27
langchain-ollama==0.3.6

ollama==0.5.3

chromadb==1.0.15
sentence-transformers==5.0.0

torch
transformers

numpy==2.2.6
pandas==2.2.3

pypdf
pdfplumber
python-docx

python-dotenv

requests
httpx

loguru

pytest